/*Import font-face css*/
@import url("./fonts.css");

@import 'variables';
@import 'global';

/*--------Navigation----------*/
.header_area {
    .main-menu {
        .nav-item {
            .nav-link {
                font: normal 500 15px/2px $roboto;
                text-transform: uppercase;
                padding: 1.7rem;
                color: $title-color;
            }
        }
        .navbar {
            padding: 1rem 20rem;

            .navbar-nav {
                a:hover {
                    background: $gradient-color;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        background-clip: text;
                }
                .active {
                    a {
                        background: $gradient-color;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        background-clip: text;
                    }
                }
            }

            &-brand {
                padding: 0 2rem 0 5rem;
            }
        }
    }
}

/*--------Banner----------*/

.site-main {
    .site-banner {
        background: url(../img/banner/home-banner.png) no-repeat 0% 50%;

        .site-title{
            h3 {
                padding-top: 35%;
                font-weight: 500;
                /*Çizgi oluşturmak için ::after kullanıldı*/
                &::after {
                    content: "";
                    height: 2px;
                    width: 18vw;
                    background: black;
                    display: inline-block;
                    margin-left: 5%;
                    transform: translateY(-10px);
                }
            }
            h1 {font-size: 5rem;}
            h4 {font-size: 1.5rem;}
        }     

        .banner-image {
            img {
                padding: 7rem 0;
                width: 90rem;
            }
        }
    }
}

/*--------About Us----------*/

.site-main .about-area {
    padding: 8rem 5rem;

    .about-title {
        h2 {
            span {
                display: block;
                font: normal bold 49px/60px $roboto;
                letter-spacing: 21px;
            }
        }
        .paragraph {
            p {
                padding: .4rem 0;
            }
            .para {
                color: $title-color;
                font: normal 500 16px/25px $roboto;
            }
        }
    }
}