@charset "UTF-8";
/*Import font-face css*/
@import url("./fonts.css");
html, body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

.title-text {
  font: normal bold 50px/72px "Roboto", cursive;
}

/*Buttons*/
.button {
  padding: .8rem 2.2rem;
  font: normal 500 16px/20px "Roboto", cursive;
  position: relative;
  border: 3px solid transparent;
  border-radius: 4px;
}

.button.primary-button {
  background: -webkit-gradient(linear, left top, right top, from(#4458dc), to(#854fee));
  background: linear-gradient(90deg, #4458dc 0%, #854fee 100%);
  background-clip: padding-box;
  color: whitesmoke;
  -webkit-box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
          box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
  -webkit-transition: background .6s ease;
  transition: background .6s ease;
  /*Gradient border*/
}

.button.primary-button:hover {
  background: whitesmoke;
  background-clip: padding-box;
  color: black;
}

.button.primary-button::after {
  position: absolute;
  top: -2px;
  left: -2px;
  bottom: -2px;
  right: -2px;
  background: -webkit-gradient(linear, left top, right top, from(#4458dc), to(#854fee));
  background: linear-gradient(90deg, #4458dc 0%, #854fee 100%);
  content: "";
  z-index: -1;
  border-radius: 4px;
}

.button.secondary-button {
  background: white;
  background-clip: padding-box;
  -webkit-transition: background .6s ease;
  transition: background .6s ease;
  /*Gradient border*/
}

.button.secondary-button:hover {
  background: -webkit-gradient(linear, left top, right top, from(#4458dc), to(#854fee));
  background: linear-gradient(90deg, #4458dc 0%, #854fee 100%);
  -webkit-box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
          box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
  color: whitesmoke;
}

.button.secondary-button::after {
  position: absolute;
  top: -2px;
  left: -2px;
  bottom: -2px;
  right: -2px;
  background: -webkit-gradient(linear, left top, right top, from(#4458dc), to(#854fee));
  background: linear-gradient(90deg, #4458dc 0%, #854fee 100%);
  content: "";
  z-index: -1;
  border-radius: 4px;
}

.font-roboto {
  font-family: "Roboto", cursive;
}

/*--------Navigation----------*/
.header_area .main-menu .nav-item .nav-link {
  font: normal 500 15px/2px "Roboto", cursive;
  text-transform: uppercase;
  padding: 1.7rem;
  color: #141313;
}

.header_area .main-menu .navbar {
  padding: 1rem 20rem;
}

.header_area .main-menu .navbar .navbar-nav a:hover {
  background: -webkit-gradient(linear, left top, right top, from(#4458dc), to(#854fee));
  background: linear-gradient(90deg, #4458dc 0%, #854fee 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.header_area .main-menu .navbar .navbar-nav .active a {
  background: -webkit-gradient(linear, left top, right top, from(#4458dc), to(#854fee));
  background: linear-gradient(90deg, #4458dc 0%, #854fee 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.header_area .main-menu .navbar-brand {
  padding: 0 2rem 0 5rem;
}

/*--------Banner----------*/
.site-main .site-banner {
  background: url(../img/banner/home-banner.png) no-repeat 0% 50%;
}

.site-main .site-banner .site-title h3 {
  padding-top: 35%;
  font-weight: 500;
  /*Çizgi oluşturmak için ::after kullanıldı*/
}

.site-main .site-banner .site-title h3::after {
  content: "";
  height: 2px;
  width: 18vw;
  background: black;
  display: inline-block;
  margin-left: 5%;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.site-main .site-banner .site-title h1 {
  font-size: 5rem;
}

.site-main .site-banner .site-title h4 {
  font-size: 1.5rem;
}

.site-main .site-banner .banner-image img {
  padding: 7rem 0;
  width: 90rem;
}

/*--------About Us----------*/
.site-main .about-area {
  padding: 8rem 5rem;
}

.site-main .about-area .about-title h2 span {
  display: block;
  font: normal bold 49px/60px "Roboto", cursive;
  letter-spacing: 21px;
}

.site-main .about-area .about-title .paragraph p {
  padding: .4rem 0;
}

.site-main .about-area .about-title .paragraph .para {
  color: #141313;
  font: normal 500 16px/25px "Roboto", cursive;
}

/*--------Brand Area----------*/
.site-main .brand-area {
  padding: 1rem 20rem;
  margin-bottom: 4rem;
}

.site-main .brand-area .first-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.site-main .brand-area .first-row .single-brand {
  border: 1px solid #201f1f17;
  text-align: center;
  padding: 1.8rem 0rem;
  margin: .9rem 0rem;
  width: 180px;
  height: 100px;
  cursor: pointer;
  -webkit-transition: -webkit-transform .4s ease;
  transition: -webkit-transform .4s ease;
  transition: transform .4s ease;
  transition: transform .4s ease, -webkit-transform .4s ease;
}

.site-main .brand-area .first-row .single-brand:hover {
  -webkit-box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
          box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.site-main .brand-area .first-row .single-brand:hover img {
  -webkit-filter: brightness(0.15);
          filter: brightness(0.15);
}

.site-main .brand-area .first-row .single-brand img {
  width: 50%;
}

.site-main .brand-area .experience-area {
  padding-left: 1rem;
}

.site-main .brand-area .years-area {
  background: url(../img/client-info-bg.png) no-repeat 45px 20px;
  padding: 2rem 0;
  width: 40rem;
  height: 18rem;
  padding-left: 8rem;
  position: relative;
}

.site-main .brand-area .years-area .years {
  font: normal bold 84px/40px "Roboto", cursive;
  color: #4458dc;
}

.site-main .brand-area .years-area h2 span {
  display: block;
  margin-left: 1.5rem;
  font: normal 600 22px/30px "Roboto", cursive;
}

.site-main .brand-area .call-area {
  padding-left: 8rem;
}
/*# sourceMappingURL=style.css.map */