/*Import font-face css*/
@import url("./fonts.css");

@import 'variables';
@import 'global';

/*--------Navigation----------*/
.header_area {
    .main-menu {
        .nav-item {
            .nav-link {
                font: normal 500 15px/2px $roboto;
                text-transform: uppercase;
                padding: 1.7rem;
                color: $title-color;
            }
        }
        .navbar {
            padding: 1rem 20rem;

            .navbar-nav {
                a:hover {
                    background: $gradient-color;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        background-clip: text;
                }
                .active {
                    a {
                        background: $gradient-color;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        background-clip: text;
                    }
                }
            }

            &-brand {
                padding: 0 2rem 0 5rem;
            }
        }
    }
}

/*--------Banner----------*/

.site-main {
    .site-banner {
        background: url(../img/banner/home-banner.png) no-repeat 0% 50%;

        .site-title{
            h3 {
                padding-top: 35%;
                font-weight: 500;
                /*Çizgi oluşturmak için ::after kullanıldı*/
                &::after {
                    content: "";
                    height: 2px;
                    width: 18vw;
                    background: black;
                    display: inline-block;
                    margin-left: 5%;
                    transform: translateY(-10px);
                }
            }
            h1 {font-size: 5rem;}
            h4 {font-size: 1.5rem;}
        }     

        .banner-image {
            img {
                padding: 7rem 0;
                width: 90rem;
            }
        }
    }
}

/*--------About Us----------*/

.site-main .about-area {
    padding: 8rem 5rem;

    .about-title {
        h2 {
            span {
                display: block;
                font: normal bold 49px/60px $roboto;
                letter-spacing: 21px;
            }
        }
        .paragraph {
            p {
                padding: .4rem 0;
            }
            .para {
                color: $title-color;
                font: normal 500 16px/25px $roboto;
            }
        }
    }
}

/*--------Brand Area----------*/

.site-main {
    .brand-area {
        padding: 1rem 20rem;
        margin-bottom: 4rem;

        .first-row {
            display: flex;
            justify-content: center;

            .single-brand {
                border: 1px solid $border-color;
                text-align: center;
                padding: 1.8rem 0rem;
                margin: .9rem 0rem;
                width: 180px;
                height: 100px;
                cursor: pointer;
                transition: transform .4s ease;

                &:hover {
                    box-shadow: $box-shadow;
                    transform: scale(1.1);

                    img {
                        filter: brightness(0.15);
                    }
                }

                img {
                    width: 50%;
                }
            }
        }

        .experience-area {
            padding-left: 1rem;
        }        

        .years-area {
            background: url(../img/client-info-bg.png) no-repeat 45px 20px;
            padding: 2rem 0;
            width: 40rem;
            height: 18rem;
            padding-left: 8rem;
            position: relative;

            .years {
                font: normal bold 84px/40px $roboto;
                color: $primary-color;
            }
            h2 {                
                span {
                    display: block;
                    margin-left: 1.5rem;
                    font: normal 600 22px/30px $roboto;
                }
            }
        }
        .call-area {
            padding-left: 8rem;
        }

    }
}